
/Angry Friends Test/obj
/Angry Friends Test/Bin
/Friendly Wars/Bin
/Friendly Wars/obj
/Friendly Wars.Web/bin
/Friendly Wars.Web/ClientBin
/Friendly Wars.Web/obj
.DS_Store
Angry Friends/Client/Bin/Debug/Client.dll
Angry Friends/Client/Bin/Debug/Client.pdb
Angry Friends/Client/Bin/Debug/Client.xap
Angry Friends/Client/Bin/Debug/Library.dll
Angry Friends/Client/Bin/Debug/Library.pdb
Angry Friends/Client/obj/Debug/Client.dll
Angry Friends/Client/obj/Debug/Client.pdb
Angry Friends/Client/obj/Debug/XapCacheFile.xml
Angry Friends/Library/Bin/Debug/Library.dll
Angry Friends/Library/Bin/Debug/Library.pdb
Angry Friends/Library/obj/Debug/Library.dll
Angry Friends/Library/obj/Debug/Library.pdb
Angry Friends/Server/bin/Debug/Library.dll
Angry Friends/Server/bin/Debug/Library.pdb
Angry Friends/Server/bin/Debug/Server.exe
Angry Friends/Server/bin/Debug/Server.pdb
Angry Friends/Server/obj/x86/Debug/ResolveAssemblyReference.cache
Angry Friends/Server/obj/x86/Debug/Server.exe
Angry Friends/Server/obj/x86/Debug/Server.pdb
Angry Friends/Test/Bin/Debug/AppManifest.xaml
Angry Friends/Test/Bin/Debug/Library.dll
Angry Friends/Test/Bin/Debug/Library.pdb
Angry Friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.dll
Angry Friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.pdb
Angry Friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.xml
Angry Friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.dll
Angry Friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.pdb
Angry Friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.xml
Angry Friends/Test/Bin/Debug/Test.dll
Angry Friends/Test/Bin/Debug/Test.pdb
Angry Friends/Test/Bin/Debug/Test.xap
Angry Friends/Test/Bin/Debug/TestPage.html
Angry Friends/Test/Bin/Debug/WriteableBitmapEx.dll
Angry Friends/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
Angry Friends/Test/obj/Debug/Test.dll
Angry Friends/Test/obj/Debug/Test.g.resources
Angry Friends/Test/obj/Debug/Test.pdb
Angry Friends/Test/obj/Debug/XapCacheFile.xml
Angry Friends/Web/bin/Web.dll
Angry Friends/Web/bin/Web.pdb
Angry Friends/Web/obj/Debug/Web.dll
Angry Friends/Web/obj/Debug/Web.pdb
Angry Friends/Client/obj/Debug/App.g.cs
Angry Friends/Client/obj/Debug/App.g.i.cs
Angry Friends/Client/obj/Debug/MainPage.g.cs
Angry Friends/Client/obj/Debug/MainPage.g.i.cs
Angry Friends/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Server/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Test/obj/Debug/ResolveAssemblyReference.cache
Angry Friends/Web/ClientBin/Client.xap
Angry Friends/Web/ClientBin/Test.xap
Angry Friends/Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Angry Friends/Library/obj/Debug/Library.csproj.FileListAbsolute.txt
Angry Friends/Server/obj/x86/Debug/Server.csproj.FileListAbsolute.txt
Angry Friends/Web/obj/Debug/Web.csproj.FileListAbsolute.txt
Angry Friends/Angry Friends.suo
Angry Friends/Client/obj/Debug/Client.g.resources
Angry Friends/Client/Bin/
Angry Friends/Server/bin/
Angry Friends/Library/obj/Debug/ResolveAssemblyReference.cache
*.DS_Store
Angry Friends/Library/obj/Debug/ResolveAssemblyReference.cache
Angry Friends/Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Test/obj/Debug/App.g.cs
Angry Friends/Test/obj/Debug/App.g.i.cs
Angry Friends/Client/obj/Debug/ResolveAssemblyReference.cache
Overview.ppt
Code Review.pptx

angry-friends/Client/obj/Debug/App.g.cs
angry-friends/Client/obj/Debug/App.g.i.cs
angry-friends/Client/obj/Debug/MainPage.g.cs
angry-friends/Client/obj/Debug/MainPage.g.i.cs
angry-friends/Test/obj/Debug/App.g.cs
angry-friends/Test/obj/Debug/App.g.i.cs
angry-friends/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
angry-friends/Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
angry-friends/Server/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
angry-friends/Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
angry-friends/Test/obj/Debug/ResolveAssemblyReference.cache
angry-friends/Web/ClientBin/Client.xap
angry-friends/Web/ClientBin/Test.xap
angry-friends/Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
angry-friends/Client/Bin/Debug/AppManifest.xaml
angry-friends/Client/Bin/Debug/Client.dll
angry-friends/Client/Bin/Debug/Client.pdb
angry-friends/Client/Bin/Debug/Client.xap
angry-friends/Client/Bin/Debug/Library.dll
angry-friends/Client/Bin/Debug/Library.pdb
angry-friends/Client/Bin/Debug/WriteableBitmapEx.dll
angry-friends/Client/obj/Debug/Client.dll
angry-friends/Client/obj/Debug/Client.g.resources
angry-friends/Client/obj/Debug/Client.pdb
angry-friends/Library/Bin/Debug/de/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/Bin/Debug/es/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/Bin/Debug/fr/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/Bin/Debug/it/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/Bin/Debug/ja/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/Bin/Debug/ko/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/Bin/Debug/Library.dll
angry-friends/Library/Bin/Debug/Library.pdb
angry-friends/Library/Bin/Debug/ru/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/Bin/Debug/System.Runtime.Serialization.Json.dll
angry-friends/Library/Bin/Debug/zh-Hans/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/Bin/Debug/zh-Hant/System.Runtime.Serialization.Json.resources.dll
angry-friends/Library/obj/Debug/Library.dll
angry-friends/Library/obj/Debug/Library.pdb
angry-friends/Server/bin/Debug/Library.dll
angry-friends/Server/bin/Debug/Library.pdb
angry-friends/Server/bin/Debug/Server.exe
angry-friends/Server/bin/Debug/Server.pdb
angry-friends/Server/bin/Debug/WriteableBitmapEx.dll
angry-friends/Server/obj/x86/Debug/ResolveAssemblyReference.cache
angry-friends/Server/obj/x86/Debug/Server.exe
angry-friends/Server/obj/x86/Debug/Server.pdb
angry-friends/Test/Bin/Debug/AppManifest.xaml
angry-friends/Test/Bin/Debug/Library.dll
angry-friends/Test/Bin/Debug/Library.pdb
angry-friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.dll
angry-friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.pdb
angry-friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.dll
angry-friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.pdb
angry-friends/Test/Bin/Debug/Test.dll
angry-friends/Test/Bin/Debug/Test.pdb
angry-friends/Test/Bin/Debug/Test.xap
angry-friends/Test/Bin/Debug/WriteableBitmapEx.dll
angry-friends/Test/obj/Debug/Test.dll
angry-friends/Test/obj/Debug/Test.g.resources
angry-friends/Test/obj/Debug/Test.pdb
angry-friends/Web/bin/Web.dll
angry-friends/Web/bin/Web.pdb
angry-friends/Web/obj/Debug/Web.dll
angry-friends/Web/obj/Debug/Web.pdb
angry-friends/Client/Bin/Debug/ClientTestPage.html
angry-friends/Test/Bin/Debug/TestPage.html
angry-friends/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
angry-friends/Library/obj/Debug/Library.csproj.FileListAbsolute.txt
angry-friends/Server/obj/x86/Debug/Server.csproj.FileListAbsolute.txt
angry-friends/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
angry-friends/Web/obj/Debug/Web.csproj.FileListAbsolute.txt
angry-friends/Client/obj/Debug/XapCacheFile.xml
angry-friends/Library/Bin/Debug/System.Runtime.Serialization.Json.xml
angry-friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.xml
angry-friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.xml
angry-friends/Test/obj/Debug/XapCacheFile.xml
angry-friends/Client/obj/Debug/Lobby.g.cs
angry-friends/Client/obj/Debug/Lobby.g.i.cs
angry-friends/Angry Friends.suo
angry-friends/Client/obj/Debug/DesignTimeResolveAssemblyReferences.cache
angry-friends/Library/Library.csproj.user
angry-friends/Server/Server.csproj.user
angry-friends/Library/obj/
angry-friends/Client/Bin/Debug/de/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/es/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/fr/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/it/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/ja/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/ko/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/ru/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/System.Windows.Controls.Navigation.dll
angry-friends/Client/Bin/Debug/zh-Hans/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/zh-Hant/System.Windows.Controls.Navigation.resources.dll
angry-friends/Client/Bin/Debug/System.Windows.Controls.Navigation.xml
angry-friends/Client/obj/Debug/ResolveAssemblyReference.cache
angry-friends/Client/obj/Debug/Arena.g.cs
angry-friends/Client/obj/Debug/Arena.g.i.cs
angry-friends/Client/obj/Debug/Room.g.cs
angry-friends/Client/obj/Debug/Room.g.i.cs
angry-friends/Client/obj/Debug/Rooms.g.cs
angry-friends/Client/obj/Debug/Rooms.g.i.cs
angry-friends/Client/obj/Debug/TestGame.g.i.cs
angry-friends/Client/Bin/Debug/ar/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/ar/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/ar/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/bg/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/bg/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/bg/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/ca/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/ca/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/ca/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/cs/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/cs/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/cs/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/da/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/da/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/da/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/de/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/de/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/de/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/el/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/el/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/el/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/es/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/es/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/es/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/et/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/et/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/et/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/eu/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/eu/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/eu/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/fi/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/fi/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/fi/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/fr/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/fr/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/fr/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/he/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/he/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/he/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/hr/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/hr/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/hr/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/hu/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/hu/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/hu/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/id/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/id/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/id/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/it/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/it/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/it/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/ja/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/ja/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/ja/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/ko/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/ko/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/ko/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/lt/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/lt/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/lt/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/lv/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/lv/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/lv/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/ms/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/ms/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/ms/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/nl/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/nl/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/nl/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/no/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/no/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/no/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/pl/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/pl/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/pl/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/pt-BR/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/pt-BR/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/pt-BR/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/pt/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/pt/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/pt/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/ro/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/ro/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/ro/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/ru/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/ru/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/ru/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/sk/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/sk/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/sk/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/sl/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/sl/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/sl/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/sr-Cyrl-CS/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/sr-Cyrl-CS/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/sr-Cyrl-CS/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/sr-Latn-CS/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/sr-Latn-CS/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/sr-Latn-CS/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/sv/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/sv/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/sv/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/System.ComponentModel.DataAnnotations.dll
angry-friends/Client/Bin/Debug/System.Windows.Controls.Data.Input.dll
angry-friends/Client/Bin/Debug/System.Windows.Controls.dll
angry-friends/Client/Bin/Debug/System.Windows.Controls.Toolkit.dll
angry-friends/Client/Bin/Debug/System.Windows.Controls.Toolkit.Internals.dll
angry-friends/Client/Bin/Debug/System.Windows.Controls.Toolkit.pdb
angry-friends/Client/Bin/Debug/th/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/th/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/th/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/tr/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/tr/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/tr/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/uk/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/uk/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/uk/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/vi/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/vi/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/vi/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/zh-Hans/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/zh-Hans/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/zh-Hans/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/zh-Hant/System.ComponentModel.DataAnnotations.resources.dll
angry-friends/Client/Bin/Debug/zh-Hant/System.Windows.Controls.Data.Input.resources.dll
angry-friends/Client/Bin/Debug/zh-Hant/System.Windows.Controls.resources.dll
angry-friends/Client/Bin/Debug/System.ComponentModel.DataAnnotations.xml
angry-friends/Client/Bin/Debug/System.Windows.Controls.Data.Input.xml
angry-friends/Client/Bin/Debug/System.Windows.Controls.Toolkit.xml
angry-friends/Client/Bin/Debug/System.Windows.Controls.xml
angry-friends/Client/obj/Debug/View.csproj.FileListAbsolute.txt