
/Angry Friends Test/obj
/Angry Friends Test/Bin
/Friendly Wars/Bin
/Friendly Wars/obj
/Friendly Wars.Web/bin
/Friendly Wars.Web/ClientBin
/Friendly Wars.Web/obj
.DS_Store
Angry Friends/Client/Bin/Debug/Client.dll
Angry Friends/Client/Bin/Debug/Client.pdb
Angry Friends/Client/Bin/Debug/Client.xap
Angry Friends/Client/Bin/Debug/Library.dll
Angry Friends/Client/Bin/Debug/Library.pdb
Angry Friends/Client/obj/Debug/Client.dll
Angry Friends/Client/obj/Debug/Client.pdb
Angry Friends/Client/obj/Debug/XapCacheFile.xml
Angry Friends/Library/Bin/Debug/Library.dll
Angry Friends/Library/Bin/Debug/Library.pdb
Angry Friends/Library/obj/Debug/Library.dll
Angry Friends/Library/obj/Debug/Library.pdb
Angry Friends/Server/bin/Debug/Library.dll
Angry Friends/Server/bin/Debug/Library.pdb
Angry Friends/Server/bin/Debug/Server.exe
Angry Friends/Server/bin/Debug/Server.pdb
Angry Friends/Server/obj/x86/Debug/ResolveAssemblyReference.cache
Angry Friends/Server/obj/x86/Debug/Server.exe
Angry Friends/Server/obj/x86/Debug/Server.pdb
Angry Friends/Test/Bin/Debug/AppManifest.xaml
Angry Friends/Test/Bin/Debug/Library.dll
Angry Friends/Test/Bin/Debug/Library.pdb
Angry Friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.dll
Angry Friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.pdb
Angry Friends/Test/Bin/Debug/Microsoft.Silverlight.Testing.xml
Angry Friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.dll
Angry Friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.pdb
Angry Friends/Test/Bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.xml
Angry Friends/Test/Bin/Debug/Test.dll
Angry Friends/Test/Bin/Debug/Test.pdb
Angry Friends/Test/Bin/Debug/Test.xap
Angry Friends/Test/Bin/Debug/TestPage.html
Angry Friends/Test/Bin/Debug/WriteableBitmapEx.dll
Angry Friends/Test/obj/Debug/Test.csproj.FileListAbsolute.txt
Angry Friends/Test/obj/Debug/Test.dll
Angry Friends/Test/obj/Debug/Test.g.resources
Angry Friends/Test/obj/Debug/Test.pdb
Angry Friends/Test/obj/Debug/XapCacheFile.xml
Angry Friends/Web/bin/Web.dll
Angry Friends/Web/bin/Web.pdb
Angry Friends/Web/obj/Debug/Web.dll
Angry Friends/Web/obj/Debug/Web.pdb
Angry Friends/Client/obj/Debug/App.g.cs
Angry Friends/Client/obj/Debug/App.g.i.cs
Angry Friends/Client/obj/Debug/MainPage.g.cs
Angry Friends/Client/obj/Debug/MainPage.g.i.cs
Angry Friends/Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Server/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Test/obj/Debug/ResolveAssemblyReference.cache
Angry Friends/Web/ClientBin/Client.xap
Angry Friends/Web/ClientBin/Test.xap
Angry Friends/Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Angry Friends/Client/obj/Debug/Client.csproj.FileListAbsolute.txt
Angry Friends/Library/obj/Debug/Library.csproj.FileListAbsolute.txt
Angry Friends/Server/obj/x86/Debug/Server.csproj.FileListAbsolute.txt
Angry Friends/Web/obj/Debug/Web.csproj.FileListAbsolute.txt
Angry Friends/Angry Friends.suo