angry-friends/Library/obj/Debug/Library.dll
angry-friends/Library/obj/Debug/Library.pdb
angry-friends/Client/obj/Debug/Client.dll
angry-friends/Client/obj/Debug/Client.g.resources
angry-friends/Client/obj/Debug/Client.pdb
angry-friends/Client/obj/Debug/ResolveAssemblyReference.cache
angry-friends/Library/Bin/Debug/Library.dll
angry-friends/Library/Bin/Debug/Library.pdb
angry-friends/Client/Bin/
angry-friends/Client/obj/Debug/View.csproj.FileListAbsolute.txt
angry-friends/Library/obj/Debug/Model.csproj.FileListAbsolute.txt
angry-friends/Client/obj/Debug/XapCacheFile.xml